body {
    font-family: 'Segoe UI';
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
    text-align: center;
    margin-top: 50px;
}

textarea {
    width: 400px;
    height: 120px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

button {
    padding: 12px 25px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background: #ff7eb3;
    color: white;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    background: white;
    color: black;
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
}